$nav-color-inactive: #999;
$nav-color-active: #85F68F;
$sidebar-width: 175px;
$duration: 0.2s;
$breakpoint: 768px;

* { box-sizing: border-box; }

html, body {
  font-family: 'Roboto', sans-serif;
}

/* SIDEBAR NAV */
@media (min-width: $breakpoint) {
  .sidebar {
    position: fixed;
    background-color: #FFF;
    width: $sidebar-width;
    height: 50%;
    left: 0px;
    top: 20px;
    padding: 0 20px;
    border-right: thin solid lighten($nav-color-inactive, 30%);
    text-align: right;
  }
  .name {
    color: #000;
    display: block;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: none;
  }
  .nav-list {
    line-height: 25px;
  }

  .nav-link {
    position: relative;
    width: auto;
    color: $nav-color-inactive;
    text-decoration: none;
    -webkit-transition-duration: $duration;
            transition-duration: $duration;
    &:before {
  		content: "";
  		position: absolute;
      bottom: -2px;
      left: 50%;
      right: 50%;
  		background: $nav-color-active;
  		height: 2px;
      -webkit-transition-duration: $duration;
              transition-duration: $duration;
  	}

  	&:hover {
      color: $nav-color-active;
      -webkit-transition-duration: $duration;
              transition-duration: $duration;
  		&:before {
  			left: 0;
        right: 0;
  		}
  	}
  }

  .active {
    color: $nav-color-active;
    &:after {
      position: absolute;
      content: "\00bb";
      right: -12px;
      -webkit-transition-duration: $duration;
              transition-duration: $duration;
    }
  }

  .ref {
    position: relative;
    width: auto;
    font-size: 16px;
    margin: 0 auto;
    color: $nav-color-inactive;
    text-decoration: none;
    -webkit-transition-duration: $duration;
            transition-duration: $duration;
    &:before {
  		content: "";
  		position: absolute;
      bottom: -2px;
      left: 50%;
      right: 50%;
  		background: $nav-color-active;
  		height: 2px;
      -webkit-transition-duration: $duration;
              transition-duration: $duration;
  	}

  	&:hover {
      color: $nav-color-active;
      -webkit-transition-duration: $duration;
              transition-duration: $duration;
  		&:before {
  			left: 0;
        right: 0;
  		}
  	}
  }

  /* CONTENT */

  .container {
    position: absolute;
    height: auto;
    width: calc(100% - #{$sidebar-width});
    margin-top: 20px;
    left: $sidebar-width;
    max-width: 800px;
    padding: 0 20px;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
  }

  .description {
    font-size: 16px;
    margin: 20px 0;
    border-left: 5px solid $nav-color-active;
    line-height: 20px;
    padding-left: 20px;
    text-align: justify;
    padding: 20px;
  }

  .citation {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .pen {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }

  @-webkit-keyframes enter {
    0% {
      opacity: 0;
      margin-top: 100%;
    }

    60% {
      opacity: 1;
      margin-top: -10px;
    }

    80% {
      margin-top: 25px;
    }

    100% {
      margin-top: 20px;
    }
  }

  @keyframes enter {
    0% {
      opacity: 0;
      margin-top: 100%;
    }

    60% {
      opacity: 1;
      margin-top: -10px;
    }

    80% {
      margin-top: 25px;
    }

    100% {
      margin-top: 20px;
    }
  }

  .entering {
    -webkit-animation: enter 1s;
            animation: enter 1s;
  }

  @-webkit-keyframes leave {
    0% {
      opacity: 1;
      margin-top: 20px;
    }

    20% {
      opacity: 1;
      margin-top: 100px;
    }

    100% {
      opacity: 0;
      margin-top: -100%;
    }
  }

  @keyframes leave {
    0% {
      opacity: 1;
      margin-top: 20px;
    }

    20% {
      opacity: 1;
      margin-top: 100px;
    }

    100% {
      opacity: 0;
      margin-top: -100%;
    }
  }

  .leaving {
    -webkit-animation: leave 1s;
            animation: leave 1s;
  }
}
